
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
// Variables -> Fontawesome

//Bootstrap Custom
$theme-colors: (
  "primary":    #067d86,
  "success":    #00484e,
  "info":       #03a8b7,
  "danger":		#cf0701

);


// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Admin-lte
@import '~admin-lte/dist/css/adminlte.css';
@import '~admin-lte/dist/css/skins/_all-skins.css';

// Fontawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

.navbar-laravel {
  	background-color: #fff;
  	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.router-link-exact-active {
	background-color: #32512a;
	color: #fff !important;
}
